<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
    <title>{% block title_block %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{% static "js/functions.js" %}"></script>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
          <ul class="nav navbar-nav navbar-right">
	    {% block nav_home %}
            <li class="navbar-header">
	      <a class="navbar-brand" href="/" style="color:gray">
		<span class="glyphicon glyphicon-home"></span>
	      </a>
            </li>
	    {% endblock %}
	    {% block nav_search %}
	    <li>
	    <form class="navbar-form" action='{% url "haystack_search" %}'>
	      <input type="text" class="form-control" placeholder="Search" name="q">
	    </form>
	    </li>
	    {% endblock %}
	    <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:gray">
		<span class="glyphicon glyphicon-th-list"></span>
	      </a>
              <ul class = "dropdown-menu">
                <li><a href="/settings">Settings</a></li>
	      </ul>
	    </li>
	    </ul>
	</div>
    </nav>
    <br>
    <!-- Page Content -->
    <div class="container">

        {% block body_block %}{% endblock %}
<!-- Footer -->

    </div>
    <!-- /.container -->
  <p id="back-top"><a href="#"><span></span>To Top</a></p>
        <footer>
	  <hr/>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <center>
		    <div style="float:left">
		    <span class="glyphicon glyphicon-user"></span> Contact us
		    </div>
                        <span>Copyright &copy; 2017-2018 Tim & htyao</span>
			<div style="float:right" onclick="open_bug_form()">
		    <span class="glyphicon glyphicon-warning-sign"></span> Report bug
		    </div>
                    </center>
		  </div>
            </div>
        </footer>

<script>
$(document).ready(function(){

	// hide #back-top first
	$("#back-top").hide();
	
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	});

});
</script>
</body>
</html>
