{% extends 'base.html' %}
{% block title_block %}EC {{ec.label}}{% endblock %}
{% block body_block %}
<h1>EC {{ec.label}} : {{ec.accepted_name}}</h1>

<p>Activity:</p>
{{ec.activity}}

<p>Comment:</p>
{{ec.comment}}

<p>History</p>
{{ec.history}}</p>
<p>Synonyms:<br>
{% for name in synonymlist %}
	{{ name }}<br>
{% endfor %}
</p>

<p>Reactions:<br>
{% for reaction in reactionslist %}
	{{ reaction }}<br>
{% endfor %}
</p>

<p>Cofactors:<br>
{% for cofactor in cofactorlist %}
	{{ cofactor }}<br>
{% endfor %}
</p>

<p>Swissprot Links:<br>
{% for page in swissprotpagelist %}
	{{ page }}<br>
{% endfor %}
</p>

<p>Prosite Links:<br>
{% for prosite in ec.prosite_set.all|dictsort:"label" %}
  <a href='https://prosite.expasy.org/{{prosite.label}}'>{{prosite.label}}</a>
{% endfor %}
</p>
{% endblock %}
