{% extends 'base.html' %}
{% load app_tags %}
{% block title_block %}EC {{ec.label}}{% endblock %}
{% block body_block %}
<center><h1>EC {{ec.label}} : {{ec.accepted_name}}</h1></center>
<br/>

{% if ec.activity %}
<h3>Activity:</h3>
{{ec.activity}}
<hr/>
{% endif %}

{% if ec.comment %}
<h3>Comment:</h3>
{{ec.comment |ec |safe}}
<hr/>
{% endif %}

{% if ec.history %}
<h3>History</h3>
{{ec.history |ec |safe}}
<hr/>
{% endif %}

{% if ec.synonym_set.all %}
<h3>Synonyms:</h3>
{% for name in ec.synonym_set.all|slice:":5" %}
	{{ name.label }} /  
{% endfor %}

{% if ec.synonym_set.all|slice:"5:"%}
<a href="#" id="show_syn" > ...show all</a>
<span id="syn" style="display:none">
{% for name in ec.synonym_set.all|slice:"5:"%}
	{{ name.label }} / 
{% endfor %}
<br/>
<a href="#" id="hide_syn" ><span class="glyphicon glyphicon-menu-up"></span>hide</a>
</span>
{% endif %}
<hr/>
{% endif %}

{% if ec.cofactor_set.all %}
<h3>Cofactors:</h3>
{% for cofactor in ec.cofactor_set.all %}
  <a href="#">{{ cofactor.cofactor }}</a> 
{% endfor %}
<hr/>
{% endif %}

<p>Swissprot Links:<br>
{% for page in swissprotpagelist %}
	{{ page }}<br>
{% endfor %}
</p>

{% if ec.prosite_set.all %}
<h3>Prosite Links:</h3>
{% for prosite in ec.prosite_set.all|dictsort:"label" %}
  <a href='https://prosite.expasy.org/{{prosite.label}}'>{{prosite.label}}</a>
{% endfor %}
<hr/>
{% endif %}

{% if ec.article_set.all %}
<h3>Articles</h3>
<ul>
{% for article in ec.article_set.all %}
<li {% if article.medline %} title="Medline : {{article.medline}}"{% endif %}>
  {% if article.pubmed %}
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{article.pubmed}}">
  {% endif %}
  {{article.title}} 
  {{article.year}}, vol. {{article.volume}}, p{{article.first_page}} - {{article.last_page}}
  {% if article.pubmed %}
    </a>
  {% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
<script>
$("#show_syn").click(function() {
  $(this).hide();
  $("#syn").show();
});
$("#hide_syn").click(function() {
  $("#syn").hide();
  $("#show_syn").show();
});
</script>
{% endblock %}
