{% extends 'base.html' %}
{% block title_block %}EnzymeSearch{% endblock%}
{% block body_block %}
<center><h1 style="margin-top:200px">World wide Enzyme</h1></center>
<br/>
<form action="search/" method="get">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." name="q">
      <span class="input-group-btn">
	<button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
  </div>
<br/>
<br/>
  <center>
    {% for m in form.models %}
      {{m}}
    {% endfor %}
  </center>
</form>
{% endblock %}
