{% extends 'base.html' %}
{% block title_block %}EnzymeSearch{% endblock%}
{% block body_block %}
<center><h1 style="margin-top:200px">World wide Enzyme</h1></center>
<br/>
<form action="search/" method="get">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." name="q">
      <span class="input-group-btn">
	<button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
  </div>
<br/>
<br/>
  <center>
    <div id='show_models'>
      <a href="#"> Show advanced option</a>
    </div>
    <div id='hidden_models'>
      <div id='hide_models'>
	<a href="#"> Hide advanced option</a>
      </div>
      <b> Search only : </b>
    {% for m in form.models %}
      {{m}}
    {% endfor %}
    </div>
  </center>
</form>

<script>
$("#hidden_models").hide();
$("#show_models").click(function () {
  $("#hidden_models").show();
  $(this).hide();
});
$("#hide_models").click(function () {
  $("#hidden_models").hide();
  $("#show_models").show();
})
</script>
{% endblock %}
